@page "/Login"
@using Microsoft.IdentityModel.Tokens
@inject IAccountService AccountService;
@inject NavigationManager NavigationManager;
<h3>Login</h3>

@if (!Error.IsNullOrEmpty())
{
    <div class="alert alert-warning">
        @Error
    </div>
}

<form @onsubmit="Submit">
    <div class="form-group mb-3">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" @bind="login.Email">
    </div>
    <div class="form-group mb-3">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" @bind="login.Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


@code {
    private readonly LoginDto login = new();
    private string? Error { get; set; }

    private async Task Submit()
    {
        var response = await AccountService.SignInAsync(login);
        Console.WriteLine(response.Message);

        if (response.IsSuccess)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            Error = response.Message;
        }
    }

}