@page "/Register"
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

<h3>Register</h3>

<ErrorMessage Message="@Error" />

<EditForm Model="RegisterDto" OnValidSubmit="Submit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <TextInputField @bind-Value="RegisterDto.Email" Type="email" Label="Email" ValidationFor="@(() => RegisterDto.Email)"/>
    <TextInputField @bind-Value="RegisterDto.Password" Type="password" Label="Password" ValidationFor="@(() => RegisterDto.Password)"/>

    <button type="submit" class="btn btn-primary mt-2" disabled="@(!context.Validate())">Create</button>
</EditForm>


@code {
    private RegisterDto RegisterDto { get; } = new();
    private string? Error { get; set; }

    private async Task Submit()
    {
        var response = await AccountService.RegisterAsync(RegisterDto);

        if (!response.IsSuccess)
        {
            Error = response.Message
                ?? "Something went wrong";
        }
        else
        {
            NavigationManager.NavigateTo("/");
        }
    }

}