@page "/Register"
@using Microsoft.IdentityModel.Tokens
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

<h3>Register</h3>

@if (!Error.IsNullOrEmpty())
{
    <div class="alert alert-warning">
        @Error
    </div>
}

<EditForm Model="register" OnValidSubmit="Submit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <TextInputField @bind-Value="register.Email" Type="email" Label="Email" ValidationFor="@(() => register.Email)"/>
    <TextInputField @bind-Value="register.Password" Type="password" Label="Password" ValidationFor="@(() => register.Password)"/>

    <button type="submit" class="btn btn-primary mt-2" disabled="@(!context.Validate())">Create</button>
</EditForm>


@code {
    private readonly RegisterDto register = new();
    private string? Error { get; set; }

    private async Task Submit()
    {
        var response = await AccountService.RegisterAsync(register);

        if (!response.IsSuccess)
        {
            Error = response.Message;
        }
        else
        {
            NavigationManager.NavigateTo("/");
        }
    }

}