@page "/groups/create"

<h3>Create Group</h3>

<EditForm Model="Group" OnSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <TextInputField @bind-Value="Group.Name" ValidationFor="@(() => Group.Name)" />
    
    <button type="submit" class="btn btn-primary mt-2" disabled="@(!context.Validate())">Create</button>
</EditForm>