@page "/groups/{id:int}"

<h3>Update Group</h3>

@if (Group is null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="Group" OnSubmit="HandleSubmit">
        <DataAnnotationsValidator />
        <TextInputField @bind-Value="Group.Name" ValidationFor="@(() => Group.Name)"></TextInputField>

        <button type="submit" class="btn btn-primary mt-2">Update</button>
    </EditForm>
}