@page "/groups/{id:int}"

<h3>Update Group</h3>

@if (Group is null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="Group" OnSubmit="HandleSubmit">
        <label for="name">Name</label>
        <InputText @bind-Value="@Group.Name" class="form-control" id="name"/>

        <button type="submit" class="btn btn-primary mt-2">Update</button>
    </EditForm>
}