@page "/subjects/create"
<h3>CreateSubject</h3>

<EditForm Model="Subject" OnSubmit="HandleSubmit">
    <ErrorMessage Message="@ErrorMessage" />
    <DataAnnotationsValidator/>
    <TextInputField @bind-Value="Subject.Name" Label="Name" ValidationFor="@(() => Subject.Name)"/>

    <SubmitButton IsValid="@context.Validate()">Create</SubmitButton>
</EditForm>