@page "/Subjects"

<div class="mb-2 mx-2 d-flex justify-content-between">
    <div>
        <h1>Subjects</h1>
    </div>
    <div>
        <button @onclick="NavigateToCreateSubject" class="btn btn-primary">Create New</button>
    </div>
</div>

@if (SubjectList is null)
{
    <h2>Loading...</h2>
    <ErrorMessage Message="@GetErrorMessage"/>
}
else
{
    foreach (var errorMessage in DeleteErrorMessages)
    {
        <ErrorMessage Message="@errorMessage"/>
    }

    <div class="table-responsive">
        <table class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var subject in SubjectList)
            {
                <tr>
                    <td>@subject.Id</td>
                    <td>@subject.Name</td>
                    <td style="width:6%">
                        <button class="btn btn-info" @onclick="() => NavigateToUpdateSubject(subject.Id)">Update</button>
                        <button class="btn btn-danger" @onclick="() => DeleteSubject(subject.Id)">Delete</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}