@page "/groups/create"

<h3>Create Group</h3>

<EditForm Model="Group" OnValidSubmit="HandleSubmit">
    <ErrorMessage Message="@ErrorMessage"/>
    <DataAnnotationsValidator/>
    <TextInputField @bind-Value="Group.Name" Label="Name" ValidationFor="@(() => Group.Name)"/>

    <SubmitButton IsValid="@context.Validate()">Create</SubmitButton>
</EditForm>