@page "/groups/{id:int}"

<h3>Update Group</h3>

@if (Group is null)
{
    if (GetErrorMessage is null)
    {
        <p>Loading...</p>
    }
    else
    {
        <p>@GetErrorMessage</p>
    }
}
else
{
    @if (PutErrorMessage is not null)
    {
        <ErrorMessage Message="@PutErrorMessage" />
    }
    <EditForm Model="Group" OnSubmit="HandleSubmit">
        <DataAnnotationsValidator />
        <TextInputField @bind-Value="Group.Name" Label="Name" ValidationFor="@(() => Group.Name)"></TextInputField>

        <button type="submit" class="btn btn-primary mt-2">Update</button>
    </EditForm>
}