@page "/groups/{id:int}"

<h3>Update Group</h3>

@if (Group is null)
{
    if (GetErrorMessage is null)
    {
        <p>Loading...</p>
    }
    else
    {
        <ErrorMessage Message="@GetErrorMessage" />
    }
}
else
{
    <ErrorMessage Message="@PutErrorMessage" />
    <EditForm Model="Group" OnSubmit="HandleSubmit">
        <DataAnnotationsValidator/>
        <TextInputField @bind-Value="Group.Name" Label="Name" ValidationFor="@(() => Group.Name)"></TextInputField>

        <SubmitButton IsValid="@context.Validate()">Update</SubmitButton>
    </EditForm>
}